@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="text-center">
    <h1 class="display-4"><b>Welcome</b></h1>
    <p>Online Library | Thesis Portal </p>
    <a class="btn btn-outline-primary" btn-lg" asp-area="" asp-page="/Books/Index">Begin Searching</a>
</div>


